doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Start page - metalamp step 2
    meta(name="description", content="Start page - metalamp 2 step")
    meta(name="keywords", content="Start page")
  body
    .start-page
      section.start-page__links 
        - const UILinks = ["colorsAndType", "formElements", "headersAndFooters", "cards"];
        ul.start-page__list
          each link in UILinks
            li.start-page__item
              a.start-page__link(href=`./${link}.html`)= link
          hr.start-page__hr
        ul.start-page__list 
          - const links = ["loginPage", "registrationPage", "landingPage", "roomDetails", "searchRoom"];
          each link in links
            li.start-page__item
              a.start-page__link(href=`./${link}.html`)= link
