@use 'src/styles/global';

.dropdown {
  position: relative;

  &__main {
    position: relative;
  }

  &__bottom-field {
    position: absolute;
    width: 320px;
    background: #fff;
    border: 1px solid global.$dark50;
    box-shadow: 0 10px 20px rgb(31 32 65 / 5%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 7px 7px 0 15px;
    z-index: 7;

    &--none {
      display: none;
    }

    & ul {
      padding: 5px 0 2px;

      li {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 7px;
      }
    }
  }

  &__field {
    width: 320px;
    height: 43px;
    background: #fff;
    border: 1px solid global.$dark25;
    padding: 7px 0 8px 14px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &--active {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &::placeholder {
      color: global.$dark75;
      font-weight: 400;
      font-size: 14px;
    }

    &:hover,
    &:focus {
      border-color: global.$dark50;
      outline: none;
    }
  }

  &__text {
    color: global.$dark75;
    font-weight: 400;
    font-size: 14px;
    transform: translateY(-3px);
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: global.$dark100;
  }

  &__arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &__counter {
    display: flex;
    width: 92px;
    justify-content: space-between;
    transform: translateY(-6px);
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid global.$dark50;
    text-align: center;
    color: global.$dark50;
    cursor: pointer;
    transform: translateX(1px);
    user-select: none;

    &--none {
      border: 1px solid global.$dark25;
      cursor: auto;
    }
  }

  &__count {
    font-weight: 700;
    font-size: 12px;
    color: global.$dark100;
    text-transform: uppercase;
    text-align: center;
    transform: translate(1px, 1px);

    &--none {
      color: global.$dark25;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: -6px;
  }

  &__furniture {
    width: 266px;
  }

  &__furniture-field {
    width: 266px;
  }
}
