.room-details {
  margin-bottom: 15px;

  &__img-block {
    width: 100%;
    display: flex;
    @media (max-width: 460px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left-img {
    @media (max-width: 1400px) {
      width: 100%;
    }
  }

  &__top-img {
    width: 461px;
    height: 243px;
    @media (max-width: 1400px) {
      width: 100%;
      height: auto;
    }
  }

  &__first-right-image {
    @media (max-width: 1400px) {
      width: 100%;
    }
  }

  &__bot-img {
    width: 461px;
    height: 243px;
    @media (max-width: 1400px) {
      width: 100%;
      height: auto;
    }
  }

  &__second-right-image {
    @media (max-width: 1400px) {
      width: 100%;
    }
  }

  &__main-content {
    display: flex;
    padding: 46px 140px;
    @media (max-width: 1300px) {
      padding: 48px 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__left-content-block {
    width: 712px;
    margin-right: 70px;
    @media (max-width: 800px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__top-content {
    display: flex;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__room-info {
    margin-right: 76px;
    @media (max-width: 700px) {
      margin: 0;
    }
  }

  &__room-info-header {
    margin-bottom: 20px;
  }

  &__review {
    // & .chart {
    //   margin-left: -3px;
    // }
  }

  &__review-header {
    margin: 16px 0 2px 5px;
  }

  &__comments {
    margin-top: 34px;
  }

  &__comment-header {
    margin-bottom: 13px;
  }

  &__comment-header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__comment-count {
    transform: translateY(3px);
  }

  &__comment-header {
    margin: 0;
  }

  &__comment {
    margin-top: 12px;
    &:not(:last-child) {
      margin-bottom: 16px;
      @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__bot-content {
    display: flex;
    margin-top: 33px;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__rules {
    margin: 0 101px 0 0;
  }

  &__rules-header {
    margin: 0 0 18px 21px;
  }

  &__text {
    width: 342px;
    margin-top: 20px;
    @media (max-width: 380px) {
      width: 100%;
    }
  }

  &__free-cancel-header {
    padding: 0;
    margin-top: -2px;
  }

  &__right-content-block {
    margin-top: 15px;
  }
}
