mixin rate-slider({uniqId = 'slider1', headerText = 'диапазон цены'})
  .rate-slider.js-rate-slider(id=uniqId) 
    .rate-slider__header 
      span.rate-slider__header-text= headerText
      span.rate-slider__header-count= "5 000₽ - 10 000₽"
    .rate-slider__main 
