mixin colorBlock({color, title, hash})
  li.colorBlock__item
    div(class=`colorBlock__colors colorBlock__${color}`)
    .colorBlock__right-block
      h2.colorBlock__title= title
      span.colorBlock__hash= hash
