@use 'src/styles/global.scss';

.colorBlock {
  &__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
  }

  &__colors {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
  }

  &__dark100 {
    background-color: global.$dark100;
  }

  &__dark75 {
    background-color: global.$dark75;
  }

  &__dark50 {
    background-color: global.$dark50;
  }

  &__dark25 {
    background-color: global.$dark25;
  }

  &__dark5 {
    background-color: global.$dark5;
  }

  &__purple {
    background-color: global.$purple;
  }

  &__green {
    background-color: global.$green;
  }

  &__title {
    margin: 10px 0 0;
    font-weight: 700;
    font-size: 19px;
  }

  &__hash {
    display: inline-block;
    margin-top: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: global.$dark100;
  }
}
