.chart {
  display: flex;
  width: 160px;
  height: 160px;
  @media (max-width: 380px) {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  &__canvas {
    width: 160px;
    max-height: 160px;
  }

  &__list {
    position: relative;
    right: 7px;
    list-style: none;
    margin-top: 47px;
    margin-left: 2px;
    @media (max-width: 380px) {
      margin-top: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: 24px;
  }

  &__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  &__name {
    margin-left: 5px;
  }
}
