include ../../components/header/header.pug
include ../../components/footer/footer.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    title Pages - Metalamp level 2
    block header

  body 
    .pages__wrapper
      .pages__header
        +header({id: 'pages__header'}) 
      .pages__main 
        block content
      .pages__footer
        +footer({id: 'pages__footer', type: 'full'})
