extends ../../layouts/UI.pug
include ../../components/textField/textField.pug
include ../../components/button/button.pug
include ../../components/dropdown/dropdown.pug
include ../../components/airDatePicker/airDatePicker.pug
include ../../components/filterDateDropdown/filterDateDropdown.pug
include ../../components/dateDropdown/dateDropdown.pug
include ../../components/checkbox/checkbox.pug
include ../../components/radioButton/radioButton.pug
include ../../components/expandableCheckboxList/expandableCheckboxList.pug

block content
  section.formElements
    .formElements__firstColumn
      +textField({uniqId: 'uniqId1', title: 'Text field', description: 'default', placeholder: 'Email', styles: 'margin-bottom: 17px', arrow: true})
      +textField({uniqId: 'uniqId2', title: 'Text field', description: 'hover / focus', placeholder: 'Email', value: 'This is pretty awesome'})
      +textField({uniqId: 'uniqId3', title: 'Text field', description: 'hover / focus', placeholder: 'Email', value: 'This is pretty awesome', arrow: false, readonly: false , mask: true})
      +dropdown({uniqId: 'first', title: 'dropdown', description: 'hover', text: 'Сколько гостей'})
      +dropdown({uniqId: 'second', title: 'dropdown', description: 'hover', text: '2 спальни, 2 кровати, 3 ванныые комнаты', type: 'furniture'})
      //- +airDatePicker({uniqId: 'filterDateDropdown'})
      +filterDateDropdown({uniqId: 'sadSADsadSAD'})
      +dateDropdown({uniqId: 'asdsadsadsadsada2'})
    .formElements__secondColumn
      +button({title: 'click me'})
      +button({title: 'click me'})
      +button({title: 'click me', type: 'white'})
      +button({title: 'click me', type: 'white'})
      +button({title: 'click me', type: 'without'})
      +button({title: 'click me', type: 'without'})
      +button({title: 'Перейти к оплате', type: 'big'})
      +button({title: 'Перейти к оплате', type: 'big', arrow: true})

      +checkbox({id: 'SuperIDcheckbox1', title: 'Можно курить'})
      +checkbox({id: 'SuperIDcheckbox2', title: 'Можно с питомцами'})
      +checkbox({id: 'SuperIDcheckbox3', title: 'Можно пригласить гостей (до 10 человек)'})
      +radioButton({id: 'SuperIDcheckboxSS1', title:'Мужчина', name: 'checkboxed'})
      +radioButton({id: 'SuperIDcheckboxSS2', title: 'Женщина', name: 'checkboxed'})
      +expandableCheckboxList({id: 'expandableCheckbox', title: 'expandable checkbox list'})
    .formElements__thirdColumn
