extends ../../layouts/UI.pug
include ../../components/textField/textField.pug
include ../../components/button/button.pug
include ../../components/dropdown/dropdown.pug
include ../../components/airDatePicker/airDatePicker.pug
include ../../components/filterDateDropdown/filterDateDropdown.pug
include ../../components/dateDropdown/dateDropdown.pug
include ../../components/checkbox/checkbox.pug
include ../../components/bulletList/bulletList.pug
include ../../components/radioButton/radioButton.pug
include ../../components/expandableCheckboxList/expandableCheckboxList.pug
include ../../components/iconTextItem/iconTextItem.pug
include ../../components/iconTextList/iconTextList.pug
include ../../components/likeButton/likeButton.pug
include ../../components/rateButton/rateButton.pug
include ../../components/comment/comment.pug
include ../../components/pagination/pagination.pug
include ../../components/toggle/toggle.pug

block content
  section.formElements
    .formElements__firstColumn
      +textField({uniqId: 'uniqId1', title: 'Text field', description: 'default', placeholder: 'Email', styles: 'margin-bottom: 17px', arrow: true})
      +textField({uniqId: 'uniqId2', title: 'Text field', description: 'hover / focus', placeholder: 'Email', value: 'This is pretty awesome'})
      +textField({uniqId: 'uniqId3', title: 'Text field', description: 'hover / focus', placeholder: 'Email', value: 'This is pretty awesome', arrow: false, readonly: false , mask: true})
      +dropdown({uniqId: 'first', title: 'dropdown', description: 'hover', text: 'Сколько гостей'})
      +dropdown({uniqId: 'second', title: 'dropdown', description: 'hover', text: '2 спальни, 2 кровати, 3 ванныые комнаты', type: 'furniture'})
      //- +airDatePicker({uniqId: 'filterDateDropdown'})
      +filterDateDropdown({uniqId: 'sadSADsadSAD'})
      +dateDropdown({uniqId: 'asdsadsadsadsada2'})
      +iconTextItem({title: 'Комфорт', text: 'Шумопоглощающие стены', icon: 'insert_emoticon'})
      +iconTextList({list: [{title: 'Комфорт', text: 'Шумопоглощающие стены', icon: 'insert_emoticon'}, {title: 'Удобство', text: 'Окно в каждой из спален', icon: 'location_city'}]})
    .formElements__secondColumn
      +button({title: 'click me'})
      +button({title: 'click me'})
      +button({title: 'click me', type: 'white'})
      +button({title: 'click me', type: 'white'})
      +button({title: 'click me', type: 'without'})
      +button({title: 'click me', type: 'without'})
      +button({title: 'Перейти к оплате', type: 'big'})
      +button({title: 'Перейти к оплате', type: 'big', arrow: true})
      +checkbox({id: 'SuperIDcheckbox1', title: 'Можно курить'})
      +checkbox({id: 'SuperIDcheckbox2', title: 'Можно с питомцами'})
      +checkbox({id: 'SuperIDcheckbox3', title: 'Можно пригласить гостей (до 10 человек)'})
      +radioButton({id: 'SuperIDcheckboxSS1', title:'Мужчина', name: 'checkboxed'})
      +radioButton({id: 'SuperIDcheckboxSS2', title: 'Женщина', name: 'checkboxed'})
      +expandableCheckboxList({id: 'expandableCheckbox', title: 'expandable checkbox list'})
      +checkbox({id: 'SuperIDcheckbox33', title: 'Широкий коридор', rich: true, richText: 'Ширина коридоров в номере не менее 91 см.'})
      +checkbox({id: 'SuperIDcheckbox344', title: 'Помощник для инвалидов', rich: true, richText: 'На 1 этаже вас встретит специалист и проводит до номера.'})
      +bulletList({title: 'bullet list', list: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
      +likeButton({number: 2, clicked: false})
      +likeButton({number: 12, clicked: true})
      +rateButton({size: 5})
      +comment({id: 'UniqIdComment1', title: 'Мурад Сарафанов', date: '5', photo: '../../images/photo.png', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
      +pagination({})
      +toggle({text: 'Получать спецпредложения'})
    .formElements__thirdColumn
