extends ../../layouts/UI.pug
include ../../components/textField/textField.pug
include ../../components/button/button.pug
include ../../components/dropdown/dropdown.pug
include ../../components/airDatePicker/airDatePicker.pug
include ../../components/filterDateDropdown/filterDateDropdown.pug
include ../../components/dateDropdown/dateDropdown.pug
include ../../components/checkbox/checkbox.pug
include ../../components/bulletList/bulletList.pug
include ../../components/radioButton/radioButton.pug
include ../../components/expandableCheckboxList/expandableCheckboxList.pug
include ../../components/iconTextItem/iconTextItem.pug
include ../../components/iconTextList/iconTextList.pug
include ../../components/likeButton/likeButton.pug
include ../../components/rateButton/rateButton.pug
include ../../components/comment/comment.pug
include ../../components/pagination/pagination.pug
include ../../components/toggle/toggle.pug

block content
  section.formElements
    .formElements__firstColumn
      .formElents__firstBlock
        .formElements__text-field
          +textField({uniqId: 'textField1', title: 'Text field', description: 'default', placeholder: 'Email'})
        .formElements__text-field
          +textField({uniqId: 'textField2', title: 'Text field', description: 'hover / focus', placeholder: 'Email', value: 'This is pretty awesome'})
        .formElements__dropdown
          +dropdown({uniqId: 'dropdown1', title: 'dropdown', description: 'hover', text: 'Сколько гостей'})
        .formElements__text-field--masked
          +textField({uniqId: 'textField3', title: 'Masked text field', description: '', placeholder: 'ДД.ММ.ГГГГ', mask: true})
        //- +dropdown({uniqId: 'second', title: 'dropdown', description: 'hover', text: '2 спальни, 2 кровати, 3 ванныые комнаты', type: 'furniture'})
        .formElements__dropdown--date
          +dateDropdown({uniqId: 'dateDropdown1', firstTitle: 'date dropdown', secondTitle: 'date dropdown'})
        .formElements__dropdown--filter
          +filterDateDropdown({uniqId: 'filterDateDropdown1'})
        .formElements__text-field--sub
          +textField({uniqId: 'textField4', title: 'subscription text field', description: '', placeholder: 'Email', arrow: true, mask: true})
      .formElements__secondBlock
        .formElements__dropdown
          +dropdown({uniqId: 'dropdown2', title: 'dropdown', description: 'default', text: '2 спальни, 2 кровати...'})
        .formElements__dropdown
          +dropdown({uniqId: 'dropdown3', title: 'dropdown', description: 'expanded', text: '2 спальни, 2 кровати...'})
      .formElements__thirdBlock
        .formElements__expandable-checkbox
          +expandableCheckboxList({id: 'expandableCheckbox1', title: 'expandable checkbox list'})
        .formElements__expandable-checkbox--open
          +expandableCheckboxList({id: 'expandableCheckbox2', title: 'expandable checkbox list'})
          //- +iconTextItem({title: 'Комфорт', text: 'Шумопоглощающие стены', icon: 'insert_emoticon'})
        .formElements__icon-text-list
          +iconTextList({list: [{title: 'Комфорт', text: 'Шумопоглощающие стены', icon: 'insert_emoticon'}, {title: 'Удобство', text: 'Окно в каждой из спален', icon: 'location_city'}]})
    .formElements__secondColumn
      .formElements__firstBlock
        .formElements__checkbox-button
          h3 Checkbox Buttons
          +checkbox({id: 'checkbox1', title: 'Можно курить'})
          +checkbox({id: 'checkbox2', title: 'Можно с питомцами'})
          +checkbox({id: 'checkbox3', title: 'Можно пригласить гостей (до 10 человек)'})
        .formElements__radio-button
          h3 Radio Buttons
          .formElements__radio-button-box
            +radioButton({id: 'radioButton1', title:'Мужчина', name: 'checkboxed', checked: true})
            +radioButton({id: 'radioButton2', title: 'Женщина', name: 'checkboxed'})
        .formElements__toggle
          h3 Toggle
          +toggle({id: 'toggle1', text: 'Получать спецпредложения'})
          +toggle({id: 'toggle2', text: 'Получать спецпредложения'})
        .formElements__like-button
          h3 like button
          .formElements__like-button-box
            +likeButton({number: 2, clicked: false})
            +likeButton({number: 12, clicked: true})
        .formElements__rate-button
          h3 rate button
            .formElements__rate-button-box
              +rateButton({id: 'rateButton1', size: 5})
              +rateButton({id: 'rateButton2', size: 5})
      .formElements__secondBlock
        .formElements__dropdown
          +dropdown({uniqId: 'dropdown4', title: 'dropdown', description: 'expanded', text: '2 спальни, 2 кровати...'})
      .formElements__thirdBlock
        .formElements__checkboxes
          h3 rich Checkbox Buttons
          +checkbox({id: 'SuperIDcheckbox33', title: 'Широкий коридор', rich: true, richText: 'Ширина коридоров в номере не менее 91 см.'})
          +checkbox({id: 'SuperIDcheckbox344', title: 'Помощник для инвалидов', rich: true, richText: 'На 1 этаже вас встретит специалист и проводит до номера.'})
        .formElements__comment
          +comment({id: 'UniqIdComment1', title: 'Мурад Сарафанов', date: '5', photo: '../../images/photo.png', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
    .formElements__thirdColumn
      .formElements__firstBlock
        .formElements__range-slider
          h3 range slider
        .formElements__buttons
          h3 buttons
          .formElements__topButtons
            +button({title: 'click me'})
            +button({title: 'click me'})
          .formElements__middleButtons
            +button({title: 'click me', type: 'white'})
            +button({title: 'click me', type: 'white'})
          .formElements__botButtons
            +button({title: 'click me', type: 'without'})
            +button({title: 'click me', type: 'without'})
          //- +button({title: 'Перейти к оплате', type: 'big'})
          +button({title: 'Перейти к оплате', type: 'big', arrow: true})
        .formElements__pagination
          h3 pagination
          +pagination({})
      .formElements__secondBlock
        .formElements__dropdown
          +dropdown({uniqId: 'dropdown5', title: 'dropdown', description: 'expanded', text: '2 спальни, 2 кровати...'})
      .formElements__thirdBlock
        .formElements__bullet-list
          +bulletList({title: 'bullet list', list: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
