.search-room {
  display: flex;
  padding: 26px 10px 70px 140px;
  @media (max-width: 1350px) {
    padding: 26px 10px 70px 10px;
  }
  @media (max-width: 900px) {
    flex-direction: column;
  }
  @media (max-width: 900px) {
    padding: 26px 0 20px;
  }

  &__button {
    display: none;
    margin: 0 auto;
    @media (max-width: 900px) {
      display: block;
    }
  }

  &__sidebar {
    width: 266px;
    margin-right: 60px;
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__dropdown-filter {
    display: none;
    margin-bottom: 20px;
  }

  &__filter-menu {
    margin-right: 15px;
  }

  &__dropdown-filter--active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: 900px) {
      display: none;
    }
  }

  &__date-dropdown {
  }

  &__guest-dropdown {
    margin-top: 16px;
  }

  &__rate-price-slider {
    margin-top: 30px;
  }

  &__footer-text-slider {
    display: inline-block;
    margin-top: 11px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
  }

  &__rules {
    margin-top: 26px;
  }

  &__availability {
    margin-top: 28px;
  }

  &__convenience-dropdown {
    margin-top: 25px;
  }

  &__convenience-list {
    margin-top: 29px;
  }

  &__main-content {
    width: 846px;
    margin-top: 4px;
    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__header {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1f2041;
    margin: 0;
    @media (max-width: 1190px) {
      text-align: center;
    }
  }

  &__hotel-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;

    @media (max-width: 1192px) {
      justify-content: center;
    }

    & .room {
      margin-right: 12px;
      margin-bottom: 21px;
    }

    & .room:nth-child(2n) {
      @media (max-width: 1192px) {
        margin-right: 12px;
      }
    }

    & .room:nth-child(3n) {
      margin-right: 12px;
    }

    & .room:nth-child(n + 10) {
      @media (max-width: 1192px) {
        margin-bottom: 21px;
      }
    }
  }

  &__pagination {
    display: flex;
    margin-top: 42px;
    transform: translateX(-7px);
    justify-content: center;
  }
}
