include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin find-rooms({id = ''})
  .find-rooms.js-find-rooms
    form.find-rooms__form
      .find-rooms__header-wrapper
        h1.find-rooms__header Найдём номера под ваши пожелания
      .find-rooms__date-dropdown
        +date-dropdown({uniqId: `cards__dateDropdown_${id}`, firstTitle: 'прибытие', secondTitle: 'выезд'})
      .find-rooms__guest-dropdown
        +dropdown({uniqId: `cards__dropdown_${id}`, title: 'гости', description: '', text: 'Сколько гостей'})
      .find-rooms__button
        +button({title: 'Подобрать номер', type: 'big', arrow: true})
