@use 'src/styles/global';

.date-dropdown {
  display: flex;
  width: 320px;
  margin-bottom: 5px;

  &__close {
    display: none;
  }

  &__open {
    display: block;
    position: absolute;
    z-index: 3;
  }

  &__left {
    position: relative;
    margin-right: 20px;
    width: 150px;
    &--main {
      position: relative;
    }
  }

  &__right {
    position: relative;
    width: 150px;
    &--main {
      position: relative;
    }
  }

  &__arrow {
    cursor: pointer;
  }
}
