@use 'src/styles/global';

.date-dropdown {
  display: flex;
  width: 320px;
  margin-bottom: 5px;

  &__close {
    display: none;
  }

  &__open {
    display: block;
    position: absolute;
    z-index: 3;
  }

  & .date-dropdown__left {
    position: relative;
    margin-right: 20px;

    &--main {
      position: relative;

      & .textField__input {
        width: 150px;
      }

      & .dropdown__arrow {
        position: absolute;
        top: 11px;
        left: 116px;
      }
    }
  }

  & .date-dropdown__right {
    position: relative;
    margin-right: 20px;

    &--main {
      position: relative;

      & .textField__input {
        width: 150px;
      }

      & .dropdown__arrow {
        position: absolute;
        top: 11px;
        left: 116px;
      }
    }
  }

  &__arrow {
    cursor: pointer;
  }
}
