mixin color-fonts({tag='h1', title=""})
  li.color-fonts__item
    span(class=`color-fonts__tagFonts color-fonts__${tag}`)= tag
    .color-fonts__textWrapper
      span(class=`color-fonts__textFonts color-fonts__text--${tag}`)= title
