mixin color-fonts({tag='h1', title=""})
  li.color-fonts__item
    span(class=`color-fonts__tag-fonts color-fonts__${tag}`)= tag
    .color-fonts__text-wrapper
      span(class=`color-fonts__text-fonts color-fonts__text--${tag}`)= title
