mixin colorFonts({tag='h1', title=""})
  li.colorFonts__item
    span(class=`colorFonts__tagFonts colorFonts__${tag}`)= tag
    .colorFonts__textWrapper
      span(class=`colorFonts__textFonts colorFonts__text--${tag}`)= title
