include ../dateDropdown/dateDropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../UI-kit/numberRoomAndPrice/numberRoomAndPrice.pug

mixin booking({id = 'bookingId'})
  .booking
    .booking__id 
      +numberRoomAndPrice({price: '9 800', type: 'люкс', number: '888'})
    .booking__dateDropdown 
      +dateDropdown({uniqId: `cards__dateDropdown_${id}`, firstTitle: 'прибытие', secondTitle: 'выезд'})
    .booking__guestDropdown 
      +dropdown({uniqId: `cards__dropdown_${id}`, title: 'гости', description: '', text: 'Сколько гостей'})
    .booking__list 
      .booking__item 
        .booking__priceToDays 9 990₽ х 4 суток
        .booking__price 39 960₽
      .booking__item
        .booking__priceToDays 
          span.booking__price-item Сбор за услуги: скидка 2 179₽
          .booking__priceInfo
            .booking__priceSymbol i
        .booking__price 0₽
      .booking__item
        .booking__priceToDays
          span.booking__price-item Сбор за дополнительные услуги
          .booking__priceInfo
            .booking__priceSymbol i
        .booking__price 300₽
    .booking__totalPrice 
      .booking__totalPrice-text Итого
      .booking__totalPrice-underline 
      .booking__totalPrice-text 38 081₽
    .booking__button
      +button({title: 'Забронировать', type: 'big', arrow: true})
