.form-elements {
  padding: 54px 0 0 141px;
  display: grid;
  grid-template-columns: 320px 374px 320px;
  grid-column-gap: 72px;

  &__first-column {
    display: grid;
    grid-template-rows: 676px 270px 525px;
    grid-row-gap: 52px;
    grid-column: 1 / 2;
  }

  &__first-main-block {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__first-dropdown-block {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 5px 0 0;
  }

  &__first-dropdown,
  &__second-dropdown {
    width: 266px;
    margin-bottom: 14px;
  }

  &__text-field {
    margin-bottom: 16px;

    &--masked {
      margin-bottom: 36px;
    }

    &--sub {
      width: 266px;
    }
  }

  &__dropdown {
    margin-bottom: 19px;

    &--date {
      margin-bottom: 37px;
    }

    &--filter {
      position: relative;
      width: 266px;
      margin-bottom: 37px;
    }
  }

  &__expandable-checkbox {
    margin-bottom: 41px;
  }

  &__icon-text-list {
    margin-top: 36px;
  }

  &__third-expandable-block {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 6px 0 0;
  }

  &__second-column {
    padding: 0 0 0 54px;
    display: grid;
    grid-template-rows: 676px 270px 525px;
    grid-row-gap: 52px;
  }

  &__second-dropdown-block {
    grid-row: 2 / 3;
  }

  &__third-checkboxes-block {
    margin-top: 4px;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 320px 320px;
    grid-column-gap: 72px;
  }

  &__third-column {
    display: grid;
    grid-template-rows: 676px 270px 325px;
    grid-row-gap: 52px;
  }

  &__third-dropdown-block {
    grid-row: 2 / 3;
  }

  &__dropdown {
    margin-top: 4px;
  }

  &__bullet-block {
    grid-row: 3 / 4;
  }

  &__bullet-list {
    padding-top: 2px;
    &-header {
      margin-top: 5px;
    }
  }

  &__checkbox-button {
    width: 245px;
    &-header {
      margin: 4px 0 11px;
    }
  }

  &__radio-button {
    margin-top: 39px;
    &-header {
      margin: 4px 0 9px;
    }

    &-box {
      display: flex;
      margin-top: 10px;
    }

    &-first {
      margin-right: 9px;
    }
  }

  &__toggle {
    margin-top: 38px;
    &-header {
      margin: 4px 0 15px;
    }

    &-second {
      margin-top: 11px;
    }
  }

  &__like-button {
    margin-top: 40px;
    &-header {
      margin: 4px 0 15px;
    }

    &-box {
      display: flex;
    }

    &-first {
      margin-right: 9px;
    }
  }

  &__rate-button {
    margin-top: 41px;
    &-header {
      margin: 4px 0 15px;
    }

    &-box {
      display: flex;
      margin-top: 16px;
    }

    &-first {
      margin-right: 20px;
    }
  }

  &__checkboxes {
    &-header {
      margin: 4px 0 10px;
    }
  }

  &__comment {
    grid-column: 1 / span 2;
    margin-top: 208px;
  }

  &__buttons {
    margin-top: 45px;
    &-header {
      margin: 4px 0 10px;
    }
  }

  &__top-buttons {
    display: flex;
    margin-top: 16px;
  }

  &__first-top-button {
    margin-right: 20px;
  }

  &__middle-buttons {
    display: flex;
    margin-top: 30px;
  }

  &__first-middle-button {
    margin-right: 20px;
  }

  &__bot-buttons {
    display: flex;
    margin-top: 20px;
  }

  &__first-bot-button {
    margin-right: 21px;
  }

  &__big-button {
    margin-top: 19px;
  }

  &__pagination {
    margin-top: 40px;
    &-header {
      margin: 4px 0 16px;
    }
  }
}
