extends ../../layouts/pages/pages.pug
include ../../components/registration/registration.pug

block header
  title Registration page
  meta(name="description", content="Registration page - metalamp 2 step")
  meta(name="keywords", content="Registration page")

block content
  section.registration-page
    .registration-page__registrationForm 
      +registration({id: 'registrationPage__registration1', textButton: 'зарегистрироваться'})
