.findRooms {
  width: 380px;
  height: 374px;
  padding: 24px 30px 30px;
  background: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  border-radius: 4px;

  @media (max-width: 380px) {
    width: 100%;
    padding: 24px 10px 30px;
  }
  @media (max-width: 340px) {
    width: 100%;
    padding: 24px 0px 30px;
  }

  &__header {
    & h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__dateDropdown {
    margin-top: 18px;
  }

  &__guestDropdown {
    margin-top: 17px;
  }

  &__button {
    margin-top: 31px;
  }
}
