include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin findRooms({id = ''})
  .findRooms.js-findRooms
    form.findRooms__form
      .findRooms__header-wrapper
        h1.findRooms__header Найдём номера под ваши пожелания
      .findRooms__date-dropdown
        +date-dropdown({uniqId: `cards__dateDropdown_${id}`, firstTitle: 'прибытие', secondTitle: 'выезд'})
      .findRooms__guestDropdown
        +dropdown({uniqId: `cards__dropdown_${id}`, title: 'гости', description: '', text: 'Сколько гостей'})
      .findRooms__button
        +button({title: 'Подобрать номер', type: 'big', arrow: true})
