include ../dateDropdown/dateDropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin findRooms({id = ''})
  .findRooms
    form
      .findRooms__header
        h1 Найдём номера под ваши пожелания
      .findRooms__dateDropdown
        +dateDropdown({uniqId: `cards__dateDropdown-${id}`, firstTitle: 'прибытие', secondTitle: 'выезд'})
      .findRooms__guestDropdown
        +dropdown({uniqId: `cards__dropdown-${id}`, title: 'гости', description: '', text: 'Сколько гостей'})
      .findRooms__button
        +button({title: 'Подобрать номер', type: 'big', arrow: true})
