@import '../../styles/global';

.filterDateDropdown {
  position: relative;
  width: 266px;
  &__main {
    width: 266px;
    & .textField__input {
      width: 266px;
    }
  }
  &__arrow {
    position: absolute;
    top: 37px;
    right: 10px;
    cursor: pointer;
  }

  &__close {
    display: none;
  }

  &__dateOpen {
    display: block;
  }
}
