mixin radioButton({id = 'uniqIdQSQLKssS', title = '', name = 'name1', checked = false})
  .radioButton
    input.radioButton__input(type="radio", name=name, id=id, checked=checked)
    label.radioButton__label(for=id)= title
