mixin radio-button({id = 'uniqIdQSQLKssS', title = '', name = 'name1', checked = false})
  .radio-button
    input.radio-button__input(type="radio", name=name, id=id, checked=checked)
    label.radio-button__label(for=id)= title
