extends ../../layouts/pages/pages.pug
include ../../components/login/login.pug

block header
  title Login page
  meta(name="description", content="Login page - metalamp 2 step")
  meta(name="keywords", content="login page")

block content
  section.login-page
    .login-page__login-form 
      +login({id: 'loginPageLogin1'})
