mixin bulletList({title = 'Bullet list', list = []})
  .bulletList 
    ul.bulletList__list
      each item in list 
        li.bulletList__item
          .bulletList__circle
          .bulletList__text= item
