@use 'src/styles/global.scss';

.headers-and-footers {
  margin-top: 56px;

  &__first {
  }

  &__second {
    margin-top: 40px;
  }

  &__footer {
    margin-top: 40px;

    &--small {
      margin-top: 40px;
    }
  }
}
