.registrationPage {
  width: 1534px;
  min-height: 684px;
  background-image: url('../../images/image\ 4.png');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  display: flex;
  align-items: center;
  @media (max-width: 1500px) {
    width: 100%;
  }

  &__registrationForm {
    margin-left: 533px;
    @media (max-width: 1500px) {
      margin: 0 auto;
    }
  }
}
