@import '../../../styles/global';

.numberRoomAndPrice {
  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 11px;
  }

  &__number-wrapper {
  }
  &__number {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $dark100;
  }
  &__id {
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: $dark100;
  }

  &__type {
    display: inline-block;
    transform: translate(8px, 1px);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
  }
  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
  }
  &__price {
    transform: translate(-1px, 1px);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $dark50;
  }
  &__period {
    transform: translate(2px, 1px);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $dark50;
  }
}
