mixin iconTextItem({title = '', text = '', icon = 'e24e'})
  .iconTextItem
    .material-icons.iconTextItem__icon= icon
    .iconTextItem__content 
      .iconTextItem__title= title
      .iconTextItem__text= text
