mixin icon-text-item({title = '', text = '', icon = 'e24e'})
  .icon-text-item
    .material-icons.icon-text-item__icon= icon
    .icon-text-item__content 
      .icon-text-item__title= title
      .icon-text-item__text= text
