@import '../../styles/global';

.dateDropdown {
  display: flex;
  width: 320px;
  &__close {
    display: none;
  }
  &__open {
    display: block;
    position: absolute;
    z-index: 2;
  }

  & .dateDropdownLeft {
    position: relative;
    margin-right: 20px;
    &__main {
      position: relative;
      & .textField__input {
        width: 150px;
      }
      & .dropdown__arrow {
        position: absolute;
        top: 11px;
        left: 116px;
      }
    }
  }
  & .dateDropdownRight {
    position: relative;
    margin-right: 20px;
    &__main {
      position: relative;
      & .textField__input {
        width: 150px;
      }
      & .dropdown__arrow {
        position: absolute;
        top: 11px;
        left: 116px;
      }
    }
  }
  &__arrow {
    cursor: pointer;
  }
}
