.loginPage {
  width: 1534px;
  min-height: 684px;
  background-image: url('../../images/image\ 4.png');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__loginForm {
    // margin-top: 163px;
    margin-left: -92px;
  }
}
