@use 'src/styles/global';

.filter-date-dropdown {
  width: 100%;

  &__main {
    position: relative;
  }

  &__close {
    display: none;
  }

  &__date-open {
    display: block;
    position: relative;
    z-index: 22;
  }
}
