@import "../../styles/global";

.checkbox {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  &__input {
    position: absolute;
    z-index: -100;
    opacity: 0;

    &:checked + label::before {
      background-image: url("../../images/Vector.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $dark50;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      background: #fff;
      border: 1px solid #bc9cff;
      border-radius: 4px;
      margin-right: 10px;
      transform: translateY(6px);
    }

    &--rich {
      font-weight: 700;
      color: $dark75;
    }
  }

  &__richText {
    display: block;
    width: 226px;
    margin: 2px 0 2px 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $dark50;
  }

  &__rich {
    display: block;
    margin: 0;
  }

  &__text {
    display: inline-block;
    width: 200px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $dark50;

    &--rich {
      font-weight: 700;
      color: $dark75;
      margin-bottom: 4px;
      width: 230px;
    }
  }
}
