@use 'src/styles/global.scss';

.page-colors {
  &__content {
    display: flex;
    margin-top: 60px;
    padding-left: 150px;
  }

  &__left-block {
    display: block;
    margin-right: 415px;
  }

  &__right-block {
    display: block;
  }
}
