.searchRoom {
  display: flex;
  padding: 26px 140px 70px 140px;
  &__sidebar {
    width: 266px;
    margin-right: 60px;
  }
  &__dateDropdown {
  }
  &__guestDropdown {
    margin-top: 16px;
  }
  &__ratePriceSlider {
    height: 120px;
  }
  &__rules {
  }
  &__availability {
    margin-top: 28px;
  }
  &__convenienceDropdown {
    margin-top: 25px;
  }
  &__convenienceList {
    margin-top: 29px;
  }
  &__mainContent {
    width: 846px;
    margin-top: 4px;
    & h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #1f2041;
      margin: 0;
    }
  }
  &__hotelList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    & .room:not(:nth-child(3n)) {
      margin-right: 12px;
    }
    & .room:not(:nth-child(n + 10)) {
      margin-bottom: 21px;
    }
  }
  &__pagination {
    display: flex;
    margin-top: 42px;
    transform: translateX(-7px);
    justify-content: center;
  }
}
