.searchRoom {
  display: flex;
  padding: 26px 10px 70px 140px;
  @media (max-width: 1350px) {
    padding: 26px 10px 70px 10px;
  }
  @media (max-width: 900px) {
    flex-direction: column;
  }
  @media (max-width: 900px) {
    padding: 26px 0 20px;
  }

  &__button {
    display: none;
    margin: 0 auto;
    @media (max-width: 900px) {
      display: block;
    }
  }

  &__sidebar {
    width: 266px;
    margin-right: 60px;
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__dropdown-filter {
    display: none;
  }

  &__filter-menu {
    margin-right: 15px;
  }

  &__dropdown-filter--active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: 900px) {
      display: none;
    }
  }

  &__dateDropdown {
  }

  &__guestDropdown {
    margin-top: 16px;
  }

  &__ratePriceSlider {
    height: 120px;
  }

  &__rules {
  }

  &__availability {
    margin-top: 28px;
  }

  &__convenienceDropdown {
    margin-top: 25px;
  }

  &__convenienceList {
    margin-top: 29px;
  }

  &__mainContent {
    width: 846px;
    margin-top: 4px;
    @media (max-width: 900px) {
      width: 100%;
    }

    & h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #1f2041;
      margin: 0;
    }
  }

  &__header {
  }

  &__hotelList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;

    @media (max-width: 1192px) {
      justify-content: center;
    }

    & .room {
      margin-right: 12px;
      margin-bottom: 21px;
    }

    & .room:nth-child(2n) {
      @media (max-width: 1192px) {
        margin-right: 12px;
      }
    }

    & .room:nth-child(3n) {
      margin-right: 12px;
    }

    & .room:nth-child(n + 10) {
      @media (max-width: 1192px) {
        margin-bottom: 21px;
      }
    }
  }

  &__pagination {
    display: flex;
    margin-top: 42px;
    transform: translateX(-7px);
    justify-content: center;
  }
}
