@import '../../styles/global';

.textField {
  position: relative;
  max-width: 320px;
  &__top {
    display: flex;
    justify-content: space-between;
    &--small {
      width: 266px;
    }
  }
  &__small {
    width: 266px;
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    color: $dark100;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 400;
    font-size: 12px;
    color: $dark50;
    text-transform: uppercase;
  }

  &__input {
    width: 320px;
    height: 44px;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 14px;
    color: $dark75;
    letter-spacing: -0.05px;
    word-spacing: -1px;
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: $dark25;
    }
    &:hover,
    &:focus {
      border: 1px solid $dark50;
      outline: none;
    }
    &:read-only {
      cursor: pointer;
    }
    &--small {
      width: 266px;
    }
  }
  &__arrow {
    position: absolute;
    top: 34px;
    right: 63px;
    color: $purple;
    &--small {
      right: 10px;
    }
  }
}
