@import '../../styles/global';

.pageColors__content {
  display: flex;
  margin-top: 60px;
  padding-left: 150px;
}

.pageColors__leftBlock {
  display: block;
  margin-right: 415px;
}

.pageColors__rightBlock {
  display: block;
}
