@use 'src/styles/global.scss';

.pageColors {
  &__content {
    display: flex;
    margin-top: 60px;
    padding-left: 150px;
  }

  &__leftBlock {
    display: block;
    margin-right: 415px;
  }

  &__rightBlock {
    display: block;
  }
}
