mixin rateButton({id = 'uniqIdRateButton', size = 0})
  .rateButton(id=id, data-rateButtonStars=size)
    each item, indx in [1, 2, 3, 4, 5]
      .material-icons.rateButton__icon(data-rateButton=`${id}-${indx}`)= "star_border"
