extends ../../layouts/pages/pages.pug
include ../../components/find-rooms/find-rooms.pug

block header
  title Landing page
  meta(name="description", content="Landing page - metalamp 2 step")
  meta(name="keywords", content="landing page")

block content
  section.landingPage
    .landingPage__findForm 
      +find-rooms({id: 'landingPage__findRooms1'})
    .landingPage__text Лучшие номера для вашей работы, отдыха и просто вдохновения
