@use 'src/styles/global.scss';

.landingPage {
  position: relative;
  width: 1534px;
  min-height: 830px;
  background-image: url('../../images/image\ 3.jpg');
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-top: 68px;

  @media (max-width: 1500px) {
    width: 100%;
  }
  @media (max-width: 620px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: auto;
  }

  &__findForm {
    margin: 1px 0 0 139px;
    @media (max-width: 620px) {
      margin: 0;
    }
  }

  &__text {
    position: absolute;
    bottom: 21px;
    right: 228px;
    width: 297px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: global.$dark75;
    @media (max-width: 620px) {
      position: static;
      color: #fff;
      text-align: center;
    }
  }
}
