@import "../../styles/global";

.landingPage {
  position: relative;
  width: 1534px;
  min-height: 830px;
  background-image: url("../../images/image\ 3.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-top: 68px;

  &__findForm {
    // margin-top: 163px;
    margin: 1px 0 0 139px;
  }

  &__text {
    position: absolute;
    bottom: 21px;
    right: 228px;
    width: 297px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: $dark75;
  }
}
