include ../rateButton/rateButton.pug
include ../UI-kit/numberRoomAndPrice/numberRoomAndPrice.pug

mixin room({id, number, type = '', price, stars, review, array = []})
  .room 
    .room__top 
      .swiper
        .swiper-wrapper
          each item in array
            .swiper-slide
              //- img(src=`assets/${item}`)
              img(src=require(`../../images/${item}`))
        .swiper-pagination
    .room__bot
      .room__info 
        +numberRoomAndPrice({price: price, type: type, number: number})
      .room__score 
        .room__stars
          +rateButton({id: 'cardsRateButton1'})
        .room__review
          span= `${review} `
          span Отзывов
