include ../rate-button/rate-button.pug
include ../UI-kit/number-room-and-price/number-room-and-price.pug

mixin room({id, number, type = '', price, review, array = [], stars = 0})
  .room 
    .room__top 
      .swiper
        .swiper-wrapper
          each item in array
            .swiper-slide
              img.swiper__img(src=require(`../../images/${item}`), alt="slide")

        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination
    .room__bot
      .room__info 
        +number-room-and-price({price: price, type: type, number: number})
      .room__score 
        .room__stars
          +rate-button({id: id, size: stars})
        .room__review
          span= `${review} `
          span Отзывов
