@use 'src/styles/global';

.room {
  width: 270px;
  height: 257px;
  box-shadow: 0 10px 20px rgb(31 32 65 / 5%);
  border-radius: 4px;
  background: #fff;
  overflow: hidden;

  &__top {
    height: 151px;
  }

  &__bot {
    padding: 19px 20px;
  }

  &__info {
    margin-top: 3px;
  }

  &__score {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
  }

  &__stars {
  }

  &__review {
    & span:first-child {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: global.$dark50;
    }

    & span:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: global.$dark50;
    }
  }
}

.swiper {
  width: 270px;
  height: 154px;
  overflow: hidden;
  &:hover {
    & .swiper-button-next,
    & .swiper-button-prev {
      opacity: 1;
      background: linear-gradient(
        90deg,
        rgb(0 0 0 / 50%) 0%,
        rgb(0 0 0 / 0%) 99.99%,
        rgb(255 255 255 / 0%) 100%
      );
      color: #fff;
    }
  }

  & .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 99px;
  }

  & .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2px);
  }

  &-pagination {
    top: 118px;
  }

  &-pagination-bullet {
    width: 7px;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 7px));
    height: 7px;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 7px));
    border: 1px solid #fff;
    background: none;

    &-active {
      background: #fff;
    }
  }

  &-button-next {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 98%;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    opacity: 0;
    right: 0;
    top: 0;
    left: auto;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    &::after {
      font-family: swiper-icons;
      font-size: var(--swiper-navigation-size);
      text-transform: none !important;
      letter-spacing: 0;
      font-variant: initial;
      line-height: 1;
      content: 'next';
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
      &::after {
        opacity: 0.5;
      }
    }
    &.swiper-button-hidden {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
    }
  }

  &-button-prev {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 98%;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    opacity: 0;
    left: 0;
    top: 0;
    right: auto;

    &.swiper-button-disabled::after {
      opacity: 0.5;
    }

    &::after {
      font-family: swiper-icons;
      font-size: var(--swiper-navigation-size);
      text-transform: none !important;
      letter-spacing: 0;
      font-variant: initial;
      line-height: 1;
      content: 'prev';
    }

    &.swiper-button-disabled {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
    }

    &.swiper-button-hidden {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
    }
  }

  &-button-lock {
    display: none;
  }

  &-rtl {
    & .swiper-button-prev {
      right: 0;
      top: 0;
      left: auto;
      &::after {
        content: 'next';
      }
    }
    & .swiper-button-next {
      left: 0;
      top: 0;
      right: auto;
      &::after {
        content: 'prev';
      }
    }
  }

  &-navigation-disabled {
    & .swiper-button-next {
      display: none !important;
    }

    & .swiper-button-prev {
      display: none !important;
    }
  }
}
