.roomDetails {
  margin-bottom: 15px;

  &__imgBlock {
    width: 100%;
    display: flex;
    @media (max-width: 460px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__leftImg {
    @media (max-width: 1400px) {
      width: 100%;
    }
  }

  &__topImg {
    width: 461px;
    height: 243px;
    @media (max-width: 1400px) {
      width: 100%;
      height: auto;
    }
  }

  &__firstRightImage {
    @media (max-width: 1400px) {
      width: 100%;
    }
  }

  &__botImg {
    width: 461px;
    height: 243px;
    @media (max-width: 1400px) {
      width: 100%;
      height: auto;
    }
  }

  &__secondRightImage {
    @media (max-width: 1400px) {
      width: 100%;
    }
  }

  &__mainContent {
    display: flex;
    padding: 46px 140px;
    @media (max-width: 1300px) {
      padding: 48px 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__leftContentBlock {
    width: 712px;
    margin-right: 70px;
    @media (max-width: 800px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__topContent {
    display: flex;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__roomInfo {
    margin-right: 80px;
    @media (max-width: 700px) {
      margin: 0;
    }
    & .iconTextList {
      margin-top: 20px;
    }
  }

  &__review {
    & h2 {
      margin-bottom: 2px;
    }

    & .chart {
      margin-left: -3px;
    }
  }

  &__comments {
    margin-top: 34px;

    & h2 {
      margin-bottom: 13px;
    }
  }

  &__comment-header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__comment-count {
    transform: translateY(3px);
  }

  &__comment-header {
    margin: 0;
  }

  &__comment:not(:last-child) {
    margin-bottom: 16px;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__botContent {
    display: flex;
    margin-top: 20px;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__rules {
    margin: 4px 100px 0 0;
    & h2 {
      margin: 7px 0 0 20px;
    }

    & .bulletList__list {
      margin: 20px 0 0;
    }
  }

  &__freeCancle {
    margin-top: 15px;

    & h2 {
      padding: 0;
      margin-top: -2px;
    }

    & p {
      width: 342px;
      @media (max-width: 380px) {
        width: 100%;
      }
    }
  }

  &__rightContentBlock {
    margin-top: 15px;
  }
}
