@use 'src/styles/global';

.login {
  width: 380px;
  height: 358px;
  background: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 23px 30px 30px;

  @media (max-width: 400px) {
    width: 100%;
    padding: 23px 10px 30px;
    border: none;
  }

  @media (max-width: 340px) {
    width: 100%;
    padding: 23px 0px 30px;
    border: none;
  }

  &__header {
    & h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: global.$dark100;
    }
  }

  &__email {
    margin-top: 21px;
  }

  &__password {
    margin-top: 10px;
  }

  &__buttonIn {
    margin-top: 20px;
  }

  &__hasAccount {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__text {
    transform: translateY(9px);
  }

  &__buttonCreate {
  }
}
