include ../text-field/text-field.pug
include ../button/button.pug

mixin login({id = 'loginId'})
  form.login
    .login__header-wrapper 
      h1.login__header Войти
    .login__email 
      +text-field({uniqId: `login-textField1-${id}`, title: '', description: '', placeholder: 'Email'})
    .login__password 
      +text-field({uniqId: `login-textField2-${id}`, title: '', description: '', placeholder: 'Пароль'})
    .login__button-in 
      +button({title: 'Войти', type: 'big', arrow: true})
    .login__has-account 
      .login__text Нет аккаунта на Toxin?
      .login__button-create
        +button({title: 'Создать', type: 'white'})
