include ../textField/textField.pug
include ../button/button.pug

mixin login({id = 'loginId'})
  .login
    .login__header 
      h1 Войти
    .login__email 
      +textField({uniqId: `login-textField1-${id}`, title: '', description: '', placeholder: 'Email'})
    .login__password 
      +textField({uniqId: `login-textField2-${id}`, title: '', description: '', placeholder: 'Пароль'})
    .login__buttonIn 
      +button({title: 'Войти', type: 'big', arrow: true})
    .login__hasAccount 
      .login__text Нет аккаунта на Toxin?
      .login__buttonCreate
        +button({title: 'Создать', type: 'white'})
