mixin toggle({id = 'uniqIdToggle', text = 'ssss', cheked = false})
  .toggle(data-toggle=id)
    .toggle__Block.js-toggle__Block(class=cheked ? "toggle__Block--active" : "")
      .toggle__Circle(class=cheked ? "toggle__Circle--active" : "")
    .toggle__Text= text
