@import '../../styles/global';

.toggle {
  display: flex;
  &__Block {
    display: flex;
    justify-content: flex-start;
    padding: 3px 7px 0 2px;
    width: 40px;
    height: 20px;
    border: 1px solid $dark25;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    &--active {
      border: 1px solid #bc9cff;
    }
  }
  &__Circle {
    width: 12px;
    height: 12px;
    background: $dark25;
    border-radius: 10px;
    transition: 200ms;
    &--active {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      transform: translateX(22px);
      transition: 200ms;
    }
  }
  &__Text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $dark75;
    transform: translateY(-3px);
  }
}
