mixin toggle({id = 'uniqIdToggle', text = 'ssss', cheked = false})
  .toggle(data-toggle=id)
    .toggle__block.js-toggle__block(class=cheked ? "toggle__block--active" : "")
      .toggle__circle(class=cheked ? "toggle__circle--active" : "")
    .toggle__text= text
