.cards {
  display: flex;
  margin-top: 65px;
  margin-left: 140px;

  &__first-column {
    margin-right: 40px;
  }

  &__find-rooms {
    margin-bottom: 40px;
  }

  &__registration {
    margin-top: 40px;
  }

  &__second-column {
    margin-right: 40px;
  }

  &__login {
    margin-top: 40px;
  }

  &__third-column {
  }

  &__air-date-picker {
  }

  &__second-room,
  &__first-room {
    margin-top: 40px;
  }
}

.UI-layout__wrapper--cards {
  background: #f4f4f6;
}
