extends ../../layouts/UI.pug
include ../../components/room/room.pug
include ../../components/airDatePicker/airDatePicker.pug
include ../../components/findRooms/findRooms.pug
include ../../components/registration/registration.pug

block content
  .cards 
    .cards__firstColumn
      .cards__findRooms
        +findRooms({id: 'cardsFindRooms1'})
      .cards__registration
        +registration({})
    .cards__secondColumn
      // заказ
      // войти
    .cards__thirdColumn
      .cards__airDatePicker 
        +airDatePicker({uniqId: 'cardsAirDatePicker1'})
      .cards__firstRoom
        +room({id: 'room1', type: 'люкс', price: 9990, stars: 5, review: 145, array: ['../../images/room2.png', '../../images/room2.png', '../../images/room2.png', '../../images/room2.png']})
      .cards__secondRoom
        +room({id: 'room2', type: 'люкс', price: 9990, stars: 5, review: 145, array: ['../../images/room.png', '../../images/room.png', '../../images/room.png', '../../images/room.png']})
