.cards {
  display: flex;
  margin-top: 65px;
  margin-left: 140px;

  &__firstColumn {
    margin-right: 40px;
  }

  &__secondColumn {
    margin-right: 40px;
  }

  &__thirdColumn {
  }

  &__findRooms {
    margin-bottom: 40px;
  }

  &__airDatePicker {
  }

  &__secondRoom,
  &__firstRoom {
    margin-top: 40px;
  }

  &__registration {
    margin-top: 40px;
  }

  &__login {
    margin-top: 40px;
  }
}

.UILayout__wrapper--cards {
  background: #f4f4f6;
}
