.cards {
  display: flex;
  &__firstColumn {
    margin-right: 40px;
  }

  &__secondColumn {
    margin-right: 40px;
  }

  &__thirdColumn {
  }

  &__airDatePicker {
  }

  &__secondRoom,
  &__firstRoom {
    margin-top: 40px;
  }
}
