extends ../../layouts/UI.pug
include ../../components/UI-kit/ColorBlock/colorBlock.pug
include ../../components/UI-kit/ColorFonts/colorFonts.pug

block content
  .content 
    .content__firstColumn
      // найдем номера
      // регистрация
    .content__secondColumn
      // заказ
      // войти
    .content__thirdColumn
      // аирдатапикер
      // комнаты
      // комнаты
